.one-column {
  width:100%;
}
.spacer-1 {
  height:rem(10);
  width:100%;
}
.spacer-2 {
  height:rem(20);
  width:100%;
}
.spacer-3 {
  height:rem(30);
  width:100%;
}
.spacer-4 {
  height:rem(40);
  width:100%;
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  margin:0 auto;
  display:block
}
.hidden {
  width:0;
  height:0;
  overflow:hidden;
  position: absolute;
  left:-1000000px;
}

h1 {
    font-family: "Open Sans", fontstack("Arial");
    font-size:em(32);
    border:rem(1) solid red;
}

h2 {
    font-family: "Droid Sans", fontstack("Extra Stack");
    font-size:rem(32);
    padding:rem(32), rem(20), rem(15), rem(0);
}
